@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Inter:wght@400;700&display=swap");

* {
    box-sizing: border-box;
}

html,
body {
    font-family: "Geologica", "Inter", sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #0e1736;
}

body {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none !important;
}

header {
    position: relative;
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    color: white;
}

#title {
    margin: 0;
    size: 2rem;
    text-decoration: none;
    color: inherit;
    background: linear-gradient(
        to right,
        rgb(212, 4, 4),
        rgb(188, 12, 241),
        rgb(25, 241, 241),
        rgb(241, 241, 25)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#header-leave {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 15px 30px;
}

main {
    width: 100%;
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#p5-sketch {
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
}
#p5-sketch canvas {
    display: block;
    margin: 0 auto;
}

.overlay {
    position: fixed;
    inset: 0;
    display: grid;
    place-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.row {
    display: flex;
    gap: 1rem;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.separator {
    margin: 1rem 0;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.container {
    background-color: skyblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 1rem;
    z-index: 2;
}

.form-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}

input {
    padding: 4px 5px;
    border: none;
    appearance: none;
    border-radius: 5px;
}

button:focus,
input:focus {
    outline: none;
    box-shadow: 0 0 0 calc(1px) black;
}

input::placeholder {
    color: gray;
}

button {
    border: none;
    padding: 15px 30px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
}

button:hover,
button:focus {
    background-color: rgb(226, 225, 225);
    /* box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.1); */
    transition: box-shadow 0.2s;
}

.align-center {
    align-items: center;
}

#room-list {
    padding: 20px 30px;
    width: 300px;
    justify-content: stretch;
}

.room {
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    background-color: palegoldenrod;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.2);
}

.room:hover {
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.5);
    background-color: rgb(241, 236, 175);
    transition: box-shadow 0.2s;
}

.room .room-name {
    font-size: 1.5rem;
}

#grid {
    margin: 5px;
}

#game-container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    height: 600px;
    width: 1000px;
}

.opponent-board-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
    width: 320px;
}

.opponent-board {
    /* border: 1px solid #000; */
    margin: 5px;
    justify-content: space-between;
}

#ready-button {
    position: absolute;
    inset: 50%;
    translate: -50% -50%;
    width: 35%;
    height: 20%;
    font-size: 2rem;
    background-color: burlywood;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.2);
}
#ready-button:hover {
    background-color: bisque;
}
