html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

td, th {
    padding: 10px;
    background-color: rgba(110, 110, 220, 0.5);
}
#game-over{
    color:red;
    display:none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:larger;
}

#game-end {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 2em;
    display: none;
    justify-content:space-around;
    align-items:center;
    flex-direction: row;
}
